<div class="container">
    <h1>Log In</h1>
    <div class="cards-container">
        <div class="cards-form">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Author Name</label>
                    <input type="text" name="AuthorName" [(ngModel)]="login.AuthorName">
                </div>
                
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" name="Password" [(ngModel)]="login.Password">
                </div>
                
                <div class="form-group">
                    <button>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>