
<div class="container">
    <h1>Purchase Book</h1>
    <div class="cards-container">
        <div class="cards-form">
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="">Book Code</label>
                    <input type="text" value="pay.bookId" name="bookId" [(ngModel)]="pay.bookId" readonly>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" [(ngModel)]="pay.email">
                </div>
                
                <div class="form-group">
                    <button>Confirm book Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>